@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Noto+Serif:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 100% 97%;
    --foreground: 209.44 49.09% 43.14%;
    --card: 48 100% 97%;
    --card-foreground: 209.44 49.09% 43.14%;
    --primary: 209.44 49.09% 43.14%;
    --primary-foreground: 48 100% 97%;
    --secondary: 205 100% 91%;
    --secondary-foreground: 209.44 49.09% 43.14%;
    --muted: 205 70% 92%;
    --muted-foreground: 209.44 49.09% 43.14%;
    --accent: 203 88% 76%;
    --accent-foreground: 209.44 49.09% 43.14%;
    --border: 209.44 49.09% 43.14% / 0.2;
    --input: 209.44 49.09% 43.14% / 0.2;
    --ring: 203 88% 76%;
    --radius: 1rem;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background font-serif text-foreground antialiased;
  }
}
